<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebDevServerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebDevServerManager.Properties.Settings>
            <setting name="Form_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form_Size" serializeAs="String">
                <value>758, 254</value>
            </setting>
        </WebDevServerManager.Properties.Settings>
    </userSettings>
</configuration>